
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>
                            Hakkımızda
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container box_1170">
    <div class="about-details pt-30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>Biz kimiz?</h4>
                        <p style="font-size: 20px">
                            Farmasi, Farmasotik; ilaç kalitesinde kozmetik üretim anlayışı, sağlıklı ve kaliteli geniş ürün portföyü ve kazançlı iş fırsatı ile herkesin hayatına ve hayallerine dokunabilen bir marka. İnsanların özellikle kadınların hayallerinden ilham alarak geliştirilen ürünler ve kazançlı iş modeli ile insanlara kendi potansiyel ve güzelliklerini keşfedebilecek essiz bir fırsat sunuyor.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-details pt-30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>Farmasi Prim Sistemi</h4>
                        <p style="font-size: 20px">
                            
                            1. Kazanılacak prim girişimcinin ay sonundaki Grup TL Puanına göre belirlenir
                            2. Prim kazandığınızda priminizi alabilmek için kişisel en az 140 TL puan alışverişiniz olması gerekmektedir. Buna aktiflik şartı denir. Prim alamıyor veya almak istemiyorsanız aktiflik şartını yerine getirmenize gerek yoktur.
                            3. Ödemeler en alt seviyeden (%3 Seviyesinden) başlar, üst seviyelere göre paylaştırılmaya başlanır.
                            4. %15 ve üzeri seviyelerdeki girişimciler, üst sponsorlarına ek olarak liderlik primi kazandırır (Birinci nesi %3, ikinci nesil %2, üçüncü nesil %1).
                            5. Altın Müdür ve üzeri olan girişimciler altlarındaki liderlerden (%15, %18 ve %21) ek direktörlük primi kazanır. Seviye arttıkça direktörlük primi oranları da artar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <img src="~/assest/images/araba.jpeg" alt="" class="img-fluid">
    </div>
</div>