
@{
    ViewBag.Title = "NedenUyeOlmaliyim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Neden üye olmalıyım?</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-details pt-30">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>Neden Farmasi?</h4>
                    <p>
                        Artık hayallerinizi ertelemek zorunda değilsiniz. Kendi işinizi kendiniz kurabilir, hatta çalışma saatlerinizi dahi kendiniz oluşturabilir, kendi işinizin patronu olabilirsiniz.
                    </p>
                    <p>Tüm bunları yapmak için Farmasi Danışmanı olmanız yeterli. Hayalleriniz Farmasiye kayıt olmak kadar yakında.</p>
                    <p>Farmasinin kaliteli ürünlerini kullanırken aynı zamanda para kazanıp, yeni insanlarla tanışıp, kendinize ve ailenize iyi bir gelecek hazırlama fırsatını yakalayarak kendi kariyer planınızı yapabilirsiniz.</p>
                </div>
            </div>
        </div>
    </div>
</div>
