@{
    ViewBag.Title = "Sertifikalar";
}


<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Sertifikalarımız</h2>
                        <p>Farmasi ürünleri, uluslararası bağımsız kuruluşlardan alınan sertifikasyon güvenceleri ile İstanbul'da bulunan laboratuvarlarında, en yüksek kalite standartlarında ve insan sağlığına uygun olacak şekilde üretilmektedir.</p>
                        <p>Uluslararası bağımsız kuruluşlar tarafından verilen sertifikalar, formüllerimizin güvenilirliğini de tescil etmektedir. Bugün bu güvenin sayesinde Farmasi 123 ülkede, 500 milyondan fazla insana hizmet etmektedir.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popular-items section-padding30">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center">
                    <div class="popular-img">
                        <img src="~/assest/images/sertifika/1.jpg" />
                    </div>
                    <div class="popular-caption">
                        <h3>ISO 9001 BELGESİ</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center">
                    <div class="popular-img">
                        <img src="~/assest/images/sertifika/2.jpg" />
                    </div>
                    <div class="popular-caption">
                        <h3>ISO 27001 BELGESİ</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center">
                    <div class="popular-img">
                        <img src="~/assest/images/sertifika/3.jpg" />
                    </div>
                    <div class="popular-caption">
                        <h3>ISO 27001 TÜRK MALI BELGESİ</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center">
                    <div class="popular-img">
                        <img src="~/assest/images/sertifika/4.jpg" />
                    </div>
                    <div class="popular-caption">
                        <h3>HELAL SERTİFİKASI</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center">
                    <div class="popular-img">
                        <img src="~/assest/images/sertifika/5.jpg" />
                    </div>
                    <div class="popular-caption">
                        <h3>HELAL SERTİFİKASI</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center">
                    <div class="popular-img">
                        <img src="~/assest/images/sertifika/6.jpg" />
                    </div>
                    <div class="popular-caption">
                        <h3>GMP BELGESİ</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center">
                    <div class="popular-img">
                        <img src="~/assest/images/sertifika/7.jpg" />

                    </div>
                    <div class="popular-caption">
                        <h3>KOZMETİK YERİ İZİN BELGESİ</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
